<!DOCTYPE html>
{% extends "blog/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block%}
      mukati's blog home page

    {% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Mukati blog's</h1>
    {% for post in post_list %}
        <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
        <p id="date">published on {{ post.publish }} by {{ post.author|title}}</p>
        {{ post.body|truncatewords:30|linebreaks }}

    {% endfor %}


{% endblock %}
</body>
</html>